.custom_code {
    background-color: #efefef;
    padding: 15px;
    border-radius: 8px;

    &>.__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.open {
            padding-bottom: 10px;
            border-bottom: solid 1px #ccc;
        }

        p {
            margin: 0;
            padding: 0;
            color: var(--primary);
            font-weight: bold;
            font-style: italic;
            opacity: 0.7;
            font-family: monospace;
            font-size: 1em;
            line-height: 1em;
        }

        button {
            margin: 0;
            padding: 0;
            background: none;
            text-transform: uppercase;
            font-size: 0.8em;
            font-weight: bold;
            opacity: 0.7;
            cursor: pointer;
            border: solid 1px #ccc;
            border-radius: 4px;
            width: 2em;
            height: 2em;
        }

    }

    &>.__inner {
        pre>code {
            padding: 0;
        }
    }
}